html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  font-size: 100%;
}

html, body, div, span, a, li, td, th {
  font-family: 'Lato', sans-serif;
}

nav {
  display: block;
  background-color: darkgreen;
  height: 50px;
}

nav li {
  display: inline-block;
  list-style-type: none;
  color: #ffffff;
}
